h1 {
  color: blue;
  text-align: center;
  background-color: orange;
}
p {
  color: green;
  background-color:light blue;
}

img {
  border: 5px solid red;
}

header a {
  border: 1px solid black;
  text-decoration: none;
  border-radius: 15px;
}

h3 {
  color: blue;
}


